<!DOCTYPE html>
<html>

<head>
    <Title>FrogChess.com</Title>
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico">
    <link rel=stylesheet href="bootstrap/dist/css/bootstrap.min.css">
    <link rel=stylesheet href="css/index.css">
</head>

<body>

    <header>
        <img src="img/logo.jpg" class="logo">
        <nav>
            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="Notizie.html">Notizie</a></li>
                <li><a href="Impara.html">Impara</a></li>
                <li><a href="About.html">About</a></li>
            </ul>
        </nav>
        <button class="btn-area" onclick="openLoginForm()">Login</button>
    </header>
    <section>
        <h1>Welcome to FrogChess.com</h1>
        <text>where you can play and learn about your favourite hobby, the ancient and nobile game of Chess</text>
        <br><br>
        <button class="btn-area" onclick="openLoginForm()">Login</button>

        <div class="form-popup" id="myLoginForm">

            <form action="/login" method="POST" class="form-container">

                <h1 style="color:black">Login</h1>

                <label for="username" style="color:black"><b>Username</b></label>
                <input type="text" placeholder="Enter username" name="username" required>

                <label for="password" style="color:black"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <% if (erroreLogin){ %>
                    <text class="erroreReg"> username o pws sbagliate </text>
                    <% } %>

                        <span id="errore"></span>
                        </span>

                        <button type="submit" class="btn">Login</button>
                        <button type="button" class="btn cancel" onclick="closeLoginForm()">Close</button>
            </form>
        </div>
        or
        <a href="enginegame.html" class="btn-area">Play against stockfish 11</a> 
        <a href="pvpgame.html" class="btn-area">Play pvpgame</a><br>
        Not registered yet? Click
        <a class="reglink" onclick="openRegForm()">here</a>
        to Sign up
        <div class="form-popup" id="myRegForm">
            <form action="/registrazione" method="POST" class="form-container">
                <h1 style="color:black">Registrazione</h1>
                <label for="username" style="color:black"><b>Username</b></label>
                <input type="text" placeholder="Enter username" name="username" required>

                <label for="password" style="color:black"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <% if (erroreReg){ %>
                    <text class="erroreReg"> username già esiste, riprova </text>
                    <% } %>
                        <button type="submit" class="btn">Sign up</button>
                        <button type="button" class="btn cancel" onclick="closeRegForm()">Close</button>
            </form>
        </div>
        <script>
            function openLoginForm(){
                    if(document.getElementById("myRegForm").style.display=="block"){
                        closeRegForm();
                    }
                    document.getElementById("myLoginForm").style.display = "block";
                }
                function openRegForm(){
                    if(document.getElementById("myLoginForm").style.display=="block"){
                        closeLoginForm();
                        }
                    document.getElementById("myRegForm").style.display = "block";
                }
                function closeLoginForm() {
                    document.getElementById("myLoginForm").style.display = "none";
                }
                function closeRegForm() {
                    document.getElementById("myRegForm").style.display = "none";
                }
        </script>
        <% if (erroreReg){ %>
            <script>openRegForm();</script>
            <% } %>
                <% if (erroreLogin){ %>
                    <script>openLoginForm();</script>
                    <% } %>

    </section>

    <footer>For info please contact us at : gianfelice.1851260@studenti.uniroma1.it or
        morsello.1851339@studenti.uniroma1.it</footer>
</body>

</html>