*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background: transparent;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    height:100%;
    display:flex;
    flex-direction: column;
}
html{
    height:100%;
    background: url(../img/background.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a{
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 70px;
}
.logo{
    width:100px;
    cursor:pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display:inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color:#fff;
}
.nav-area li a:hover{
    color:#d22938;
}
.btn-area{
    color:#fff;
    cursor:pointer;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 20px;
    border: #fff solid;
    background:transparent;
}
.btn-area:hover{
    background: #d22938;
    color:#fff;
}
section{
    font-family:sans-serif;
    letter-spacing: 2px;
    color:whitesmoke;
    padding: 12% 5%;
    font-size: 15px;
    flex: 1 0 auto;
}
.paragraph{
    border-radius: 2%;
    border:whitesmoke solid;
    width: fit-content;
    padding: 5px;
}
footer{
    flex-shrink: 0;
    height:60px;
    width:100%;
    background:black;
    color:rgb(245, 245, 245);
    text-align:left;
    padding:0% 1%;
}
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover{
    opacity: 1;
}
.reglink{
    transition: .3s;
    color:#fff;
    cursor:pointer;
}
.reglink:hover{
    color:#d22938;
}
.erroreReg{
    color:red;
}

.underline {
    text-decoration: underline;
}


