table{
    margin-left: auto;
    margin-right: auto;
    height:100%;
    width:50%;
}
.button-wrapper{
    text-align:center;
}
.section-div{
    padding-top: 10px;
    padding-bottom: 10%;
    text-align: center;
}

